<div class="w-full flex pb-2">
  <a href="#"><img class="inline-block" src="{{"images/icon-placeholder.svg" | relURL}}" alt="icon-placeholder">
  <span class="text-gray-500 sans-font">{{.File.Dir}}</span></a>
  <span class="sans-font ml-auto border border-gray-300 rounded-full px-1">
    <span class="text-green-600 mx-1">4</span><span class="text-gray-400">|</span><span class="text-green-600 mx-1">9</span>
  </span>
</div>
<a href="">
  <div class="border border-gray-400 rounded overflow-hidden">
    <img class="h-48 w-full"src="https://static01.nyt.com/images/2013/07/27/sports/Y-SCORE/Y-SCORE-articleLarge.jpg">
    <div class="p-4">
      <p class="sans-font italic text-gray-900">
        {{.Title}}
        {{if isset .Params "subtitle" }}
          . {{.Params.subtitle}}
        {{end}}
      </p>
      <div class="mt-2 flex">
        <p class="font-bold text-gray-900">{{.Params.author}}</p><img class="ml-auto" src="{{"images/icon-placeholder.svg" | relURL}}" alt="icon-placeholder">
      </div>

    </div>
  </div>
</a>
<p class="mt-2 text-gray-900">{{.Summary}}</p>
</a>
<div class="text-gray-500 mt-2">
</div>
