
<div class="w-full flex pb-2">
  <a href="#"><img class="inline-block" src="{{"images/icon-placeholder.svg" | relURL}}" alt="icon-placeholder">
  <span class="text-gray-500 sans-font">{{.File.Dir}}</span></a>
</div>
<img class="h-48 w-full"src="https://static01.nyt.com/images/2013/07/27/sports/Y-SCORE/Y-SCORE-articleLarge.jpg">
<a href="{{.Permalink}}"><h1 class="font-bold mt-2 text-gray-900 text-base">{{.Title}}</h1></a>
<a href="{{.Permalink}}">
<p class="mt-2 text-gray-900">{{.Summary}}</p>
</a>
<div class="text-gray-500 mt-2">
  <div>{{.Params.types}}</div>
</div>
