

{{define "main" }}
  <div class="mb-16 mt-4">
      <ul class="flex border-b border-gray-400 list-none font-sans">
          <li class="-mb-px mr-1 text-red-700">
            <a class="bg-white inline-block border-l border-t border-r rounded-t py-1 px-3 text-blue-700" href="#">Selection</a>
          </li>
          <li class="mr-1">
            <a class="bg-white inline-block py-1 px-3 text-blue-700 hover:text-green-800" href={{"indexAll.html" | relURL}}>All</a>
          </li>
        </ul>
  {{range .Pages}}
    <div class="mt-16">
        {{if in .Params.types "link"}}
          {{partial "listLink" .}}
        {{else}}
          {{partial "listDefault" .}}
        {{end}}
    </div>
  {{end}}
  </div>
{{end}}
